@import './common';
//@import './example';

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery__item{
    width: calc((100% - 30px) / 4);
}

.photo-card {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    gap: 10px;
    font-size: 10px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.load-more {
    visibility: hidden;
    background-color:rgb(6, 119, 38);
    color: white;
}

form {
    display: flex;
    font-size: 20px;
    background-color: rgb(6, 119, 38);
}
button {
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

input {
    border-radius: 10px;
    margin: 10px;
}
